<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Sample Share</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        
        <%# Home link %>
        <li class="nav-item active">
            <%= link_to 'Home', root_path, method: :get, class: "nav-link" %>
        </li>
        
        <%# Dropdown Button if signed in. Log In link if user not signed in %>
        <% if user_signed_in?%>
            <%# View My Packs (Owned and Purchased) Link %>
            
            <li class="nav-item">
                <%= link_to 'Catalogue', catalogue_path, method: :get, class: "nav-link" %>
            </li>
            
            <li class="nav-item">
                <%= link_to 'My Packs', packs_path, method: :get, class: "nav-link" %>
            </li>
            
            <%# Dropdown menu for accessing/editing/loggin out of user account %>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to 'Details', account_path, method: :get, class: "nav-link" %>
                <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "nav-link" %>
                </div>
            </li>

        <% else %>
            <%# Log In link %>
            <li class="nav-item">
                <%= link_to 'Log In', new_user_session_path, method: :get, class: "nav-link" %>
            </li>

        <% end %>
    </ul>
  </div>
</nav>