
<div class="container">
  
  <% if current_user.packs.include? @pack %> 
      <h2>Edit Pack</h2>
  <% else %>
      <h2>New Pack</h2>
  <% end %>

  <%= simple_form_for @pack do |f| %>
    <%= f.input :name, required: true %>
    <%= f.input :description %>
    <%= f.association :category, required: true %>
    <%= f.input :price, required: true %>
    <%= f.input :image, as: :file %>
    <%= f.input :sample, as: :file %>
    <%= f.input :available %>
    <%= f.button :submit, class:"btn btn-dark" %>
  <% end %>
  
  <% if current_user.packs.include? @pack %>
    <hr class="my-2"> 
    <%= link_to 'Delete Pack', delete_pack_path, method: :delete, class:"btn btn-danger mt-2", data: { confirm: "Are you sure you want to remove the listing?"}  %>
  <% end %>
</div>