<h1>Show Pack</h1>

<div class="col-md-4">
    <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><%= @pack.name %></h5>
            <h6 class="card-subtitle"><%= @category.find(@pack.category_id).name %></h6>
            <p class="card-text"><%= @pack.description %></p>
            <p class="card-text">Price $<%= @pack.price %></p>
            <%= render "partials/purchase_or_edit_button"%>
        </div>
    </div>
</div>
