<div class="container">

    <div class="row">
            
        <% @packs.each do |pack|%>
            <% if pack[:available] == true %>
                <div class="col-md-3">
                    <div class="card bg-dark text-white mb-3" style="width: 100%;">
                    <% if pack.image.attached? %>
                        <%= image_tag(pack.image) %>
                    <% else %>
                        <%= image_tag "cover1.jpeg", alt: "Placeholder" %>                       
                    <% end %>
                        <div class="card-body">
                            <h5 class="card-title pack-name"><%= pack.name %></h5>
                            <h6 class="card-subtitle text-right"><%= @category.find(pack.category_id).name %></h6>
                            
                            <%= link_to 'Details', pack_path(pack), method: :get, class:"btn btn-light" %>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>

    </div>

</div>
